<html>
<head>
    <title>Awesome Memory Game</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Better approach is to use stylus or sass but here is just prototype -->
    <link type="text/css" rel="stylesheet" href="/assets/css/boostrap.css"/>
    <link type="text/css" rel="stylesheet" href="/assets/css/styles.css"/>
</head>
<body>
{{{body}}}

{{> scripts}}
</body>
</html>